.do-list {
    list-style: none;

    li {
        display: block;
        position: relative;
        padding-left: calc(var(--spacing) * 3);
        margin-bottom: var(--spacing);

        &::before {
            position: absolute;
            top: -4px;
            left: 0;
            font-size: var(--font-size-300);
            content: '\2665';
        }
    }
}

li {
    .do-list--love & {
        &::before {
            color: rgba(var(--color-pink), 1);
            // content: '\2665';
        }
    }

    .do-list--green & {
        &::before {
            color: rgba(var(--color-green), 1);
            // content: '\2663';
        }
    }
}
