.link {
    color: rgba(var(--color-primary), 1);
    font-weight: var(--font-weight-200);
    transition: var(--transition-cubic);

    &:hover,
    &:focus {
        filter: brightness(.9);
        border-bottom: 1px dashed rgba(var(--color-primary), 1);
    }
}

.link--discrete {
    font-weight: var(--font-weight-100);
}
