.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: var(--spacing);
}

.navigation__link {
    position: relative;
    top: 1px;
    display: inline-block;
    margin: 0 var(--spacing);
    color: rgba(var(--color-text-alternative), 1);
    font-size: var(--font-size-200);
    font-weight: var(--font-weight-200);
    transition: var(--transition-cubic);

    &:hover,
    &:focus {
        color: rgba(var(--color-text-emphasize), 1);
        top: -1px;
    }

    @media (prefers-color-scheme: dark) {
        color: rgba(var(--color-light-blue), .75);
    }
}
