.page-hero {
    padding-top: calc(var(--spacing) * 3);

    @media(max-width: $range-hand-end) {
        padding-bottom: calc(var(--spacing) * 6);
    }

    @media(min-width: $range-lap-begin) {
        padding-bottom: calc(var(--spacing) * 8);
    }
}

.page-hero__container {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.page-hero__intro {
    order: 1;
    margin-right: var(--spacing);

    @media(min-width: $range-lap-begin) {
        margin-left: calc(var(--spacing) * 4);
    }
}

.page-hero__greeter {
    display: inline-block;
    margin-bottom: calc(var(--spacing) * 4.5);
    color: rgba(var(--color-text-emphasize), 1);
    font-family: var(--font-family-serif);
    font-size: var(--font-size-600);
    border-bottom: 4px dashed rgba(var(--color-text-emphasize), .15);
    transform: rotate(-4deg);

    span {
        font-family: var(--font-family-sans-serif);
        font-size: var(--font-size-100);

        @media (max-width: 800px) {
            display: block;
            margin-top: calc(-1 * var(--spacing));
            margin-bottom: var(--spacing);
        }
    }

    @media(max-width: $range-hand-end) {
        margin-top: calc(-2 * var(--spacing));
        margin-left: calc(var(--spacing) * 16);
    }

    @media (min-width: 921px) {
        margin-left: calc(-3 * var(--spacing));
        padding-right: calc(var(--spacing) * 4);
    }
}

.page-hero__content {
    @media(max-width: $range-hand-end) {
        margin-top: calc(var(--spacing) * 2);
    }

    @media(min-width: $range-lap-begin) and (max-width: 920px) {
        margin-top: calc(var(--spacing) * 4);
    }

    @media(min-width: 921px) {
        margin-top: var(--spacing);
        text-indent: calc(var(--spacing) * 4);
    }
}

.page-hero__avatar {
    position: relative;
    display: block;
    border-radius: var(--border-radius-circle);
    border: 24px dashed rgba(var(--color-text-alternative), .15);

    @media(max-width: $range-hand-end) {
        position: absolute;
        left: var(--spacing);
        top: 0;
        width: 100px;
        border-width: 8px;
    }

    @media(min-width: $range-lap-begin) {
        order: 0;
        max-width: 220px;
        margin: var(--spacing);
    }
}

.page-hero__actions {
    margin-top: calc(var(--spacing) * 3);
    text-align: center;

    span {
        @media(max-width: $range-hand-end) {
            display: block;
            padding-top: calc(var(--spacing) * 1.5);
        }

        @media(min-width: $range-lap-begin) {
            padding-left: var(--spacing);
        }
    }
}
