.page-header {
    padding-top: calc(var(--spacing) * 2);
    padding-bottom: calc(var(--spacing) * 2);
    border-top: 4px solid rgba(var(--color-ui), 1);

    @media(max-width: $range-palm-end) {
        display: none;
    }
}
